option_settings:
  "aws:elasticbeanstalk:command":
    Timeout: 2400

container_commands:
  01_init_env:
    command: |
      sudo cp .env.example .env
      php artisan key:generate
  02_init_db:
    command: "php artisan migrate"
  03_storage_link:
    command: |
      sudo mkdir storage/app/public/images
      sudo cp storage/default-photo.jpg storage/app/public/images/default-photo.jpg
      sudo chmod -R 777 /var/www/html/storage
      sudo php artisan storage:link
