option_settings:
  "aws:elasticbeanstalk:command":
    Timeout: 2400

container_commands:
  01_init_env:
    command: |
      php artisan key:generate
      ignoreErrors: true
  02_init_db:
    command: "php artisan migrate"
    ignoreErrors: true
  03_storage_link:
    command: |
      sudo mkdir storage/app/public/images
      sudo cp storage/default-photo.jpg storage/app/public/images/default-photo.jpg
      php artisan storage:link
    ignoreErrors: true
