option_settings:
  "aws:elasticbeanstalk:command":
    Timeout: 2400

container_commands:
  00_modify_env:
    command: |
      sed -in-place '2s/local/production/g; s/localhost/www.gameachieve.net/g; 1s/Laravel/遊戲化成就系統/g' .env.example
      rm .env.examplen-place
  01_init_env:
    command: |
      sudo cp .env.example .env
      php artisan key:generate
  02_init_db:
    command: "php artisan migrate"
    ignoreErrors: true
  03_storage_link:
    command: |
      sudo mkdir storage/app/public/images
      sudo cp storage/default-photo.jpg storage/app/public/images/default-photo.jpg
      php artisan storage:link
